<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a href="https://github.com/hotelll" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
        </svg>
    </a>
    <a href="https://scholar.google.com/citations?user=TTw8ZGcAAAAJ&hl=zh-CN" target="_blank" class="mx-3" aria-label="Google Scholar" title="Google Scholar">
        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5325" width="24" height="24"><path d="M512 822.24L0 405.334 512 0z" fill="#8a8a8a" p-id="5326" data-spm-anchor-id="a313x.search_index.0.i19.37ff3a81Nu8veZ" class=""></path><path d="M512 822.24l512-416.906L512 0z" fill="#2c2c2c" p-id="5327" data-spm-anchor-id="a313x.search_index.0.i20.37ff3a81Nu8veZ" class=""></path><path d="M512 725.334m-298.666 0a298.666 298.666 0 1 0 597.332 0 298.666 298.666 0 1 0-597.332 0Z" fill="#dbdbdb" p-id="5328" data-spm-anchor-id="a313x.search_index.0.i22.37ff3a81Nu8veZ" class=""></path><path d="M242.074 597.334c47.936-100.906 150.784-170.668 269.926-170.668s221.99 69.762 269.926 170.668H242.074z" fill="#bfbfbf" p-id="5329" data-spm-anchor-id="a313x.search_index.0.i21.37ff3a81Nu8veZ" class=""></path></svg>
    </a>
    <a
        href="https://www.zhihu.com/people/hotel-11-73"
        target="_blank"
        class="mx-3"
        aria-label="ZhiHu"
        title="ZhiHu"
    >
    <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7772" width="24" height="24"><path d="M576.8 807.52h57.28l20.8 72.48 100.8-72.48h141.92V229.28H576.8z m67.84-513.92H832v448h-66.24l-85.12 64.96-18.56-64.96h-17.44zM126.4 884.48a149.44 149.44 0 0 0 123.84-10.4c60.96-36 105.92-194.56 105.92-194.56l144 177.44s13.12-84.48-2.24-108.32-99.04-119.84-99.04-119.84l-36.64 32 26.08-104.96H544s0-61.76-30.56-65.28-125.44 0-125.44 0v-192H528s-1.6-64-28.8-64H270.56l35.52-104.64s-57.6 3.36-77.92 39.36-86.4 221.6-86.4 221.6 21.92 10.24 59.2-17.28a147.68 147.68 0 0 0 49.28-75.52l67.84-3.36L320 491.2s-116.96-1.76-140.64 0-37.28 65.28-37.28 65.28H320s-15.2 108.16-60.96 187.2-132.64 140.8-132.64 140.8z" fill="#000000" p-id="7773" data-spm-anchor-id="a313x.search_index.0.i32.37ff3a81Nu8veZ" class="selected"></path></svg>
    </a>

    <a
        href="mailto:hotelhty@qq.com"
        target="_blank"
        class="mx-3"
        aria-label="E-mail"
        title="E-mail"
    >
    <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1637" width="24" height="24"><path d="M819.2 778.24H225.28a61.44 61.44 0 0 1-61.44-61.44V286.72a61.44 61.44 0 0 1 61.44-61.44h593.92a61.44 61.44 0 0 1 61.44 61.44v430.08a61.44 61.44 0 0 1-61.44 61.44z m-593.92-40.96l184.32-184.32-20.48-20.48-184.32 184.32z m593.92-471.04L532.48 532.48h-20.48L225.28 266.24l-20.48 40.96 307.2 286.72h20.48l307.2-286.72z m-163.84 266.24l-20.48 20.48 184.32 184.32 20.48-20.48z" fill="#000000" p-id="1638" data-spm-anchor-id="a313x.search_index.0.i0.6a103a81UJF0UU" class="selected"></path></svg>
    </a>
    

    <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a>
</div>
